{% extends 'myapp/components/base.html' %}

{% block site_title %}เมนูทั้งหมด | {% endblock %}

{% block content %}
<div align="center">
    <h1>เมนูทั้งหมด</h1>
    
    <hr>
    
    <img src="https://fit-d.com/uploads/food/fdcedd0dceb9a97b05c918a0054a987f.jpg" alt="" width="200px" height="120px" >
    <h3><ul>พิซซ่า ดับเบิ้ลชีส</ul></h3>
    <p>399 บาท  <sub><del>499 บาท</del></sub></p>
    <p font style="color: red;">***เมนูแนะนำ***</p>    
    <hr>

    <img src="https://www.iampizza.com/uploads/menu/5e6cee3b60077_5e6cee30c632c.jpg" alt="" width="200px" height="120px" >      
    <h3><ul>พิซซ่า ผักมอบชีส</ul></h3>
    <p>399 บาท  <sub><del>499 บาท</del></sub></p>
    <p font style="color: red;">***เมนูแนะนำ***</p>    
    <hr>

    <img src="https://www.iampizza.com/uploads/menu/5e97f12ad0184_5e97f128f1e91.jpg" alt="" width="200px" height="120px" >      
    <h3><ul>พิซซ่า ฮาวายเอี้ยน</ul></h3>
    <p>399 บาท</p>    
    <hr>

    <img src="https://www.iampizza.com/uploads/menu/5e6cdbb1bf31d_5e6cdbafc9ee8.jpg" alt="" width="200px" height="120px" >      
    <h3><ul>พิซซ่า ซีฟู้ด</ul></h3>
    <p>399 บาท</p>    
    <hr>

    <img src="https://www.iampizza.com/uploads/menu/5e3ce78326c2a_5e3ce78250025.jpg" alt="" width="200px" height="120px" >      
    <h3><ul>พิซซ่า พอร์คพาเหรด</ul></h3>
    <p>399 บาท</p>    
    <hr>

    <img src="https://www.iampizza.com/uploads/menu/5e6cf0461fb34_5e6cef4738d6d.jpg" alt="" width="200px" height="120px" >      
    <h3><ul>พิซซ่า มัสสมั่นทูน่า</ul></h3>
    <p>399 บาท</p>    
    <hr>



    
</div>
{% endblock %}