{% extends 'myapp/components/base.html' %}

{% block site_title %}โปรโมชั่น | {% endblock %}

{% block content %}
<div align="center">
    <h1>โปรโมชั่นทั้งหมด</h1>
    
    <hr>
    
    <img src="https://fit-d.com/uploads/food/fdcedd0dceb9a97b05c918a0054a987f.jpg" alt="" width="200px" height="120px" >
    <h3><ul>พิซซ่า ดับเบิ้ลชีส</ul></h3>
    <p>399 บาท  <sub><del>499 บาท</del></sub></p>
    <p font style="color: red;">***เมนูแนะนำ***</p>    
    <hr>

    <img src="https://www.iampizza.com/uploads/menu/5e6cee3b60077_5e6cee30c632c.jpg" alt="" width="200px" height="120px" >      
    <h3><ul>พิซซ่า ผักมอบชีส</ul></h3>
    <p>399 บาท  <sub><del>499 บาท</del></sub></p>
    <p font style="color: red;">***เมนูแนะนำ***</p>    
    <hr>




    
</div>
{% endblock %}

