{% extends 'myapp/components/base.html' %}

{% block content %}

<div align="center">
    <h1>สนอง<font color="red"> NEED</font> Pizza</h1>
    <p>อร่อยไม่ซ้ำจำสูตรไม่ได้</p>
    <img src="https://fit-d.com/uploads/food/fdcedd0dceb9a97b05c918a0054a987f.jpg" alt="" width="200px" height="120px" ></br>

    <img src="https://www.iampizza.com/uploads/menu/5e6cee3b60077_5e6cee30c632c.jpg" alt="" width="200px" height="120px" > 
    <img src="https://www.iampizza.com/uploads/menu/5e97f12ad0184_5e97f128f1e91.jpg" alt="" width="200px" height="120px" ></br>    
     
    <img src="https://www.iampizza.com/uploads/menu/5e6cdbb1bf31d_5e6cdbafc9ee8.jpg" alt="" width="200px" height="120px" >      
    <img src="https://www.iampizza.com/uploads/menu/5e3ce78326c2a_5e3ce78250025.jpg" alt="" width="200px" height="120px" >      
    <img src="https://www.iampizza.com/uploads/menu/5e6cf0461fb34_5e6cef4738d6d.jpg" alt="" width="200px" height="120px" >      

</div>

{% endblock %}