<header>
    <div>
    <table border="1" bgcolor="lightgray"width="20%">
        <thead>
            <th><h1>สนอง <font color="red">NEED</font> Pizza</h1></th>
        </thead>
    </table>
    </div>
    <div align="center">
    <table border="1" width="50%" bgcolor="lightgray">
        <thead>
            <th><a href="{% url 'home' %}">หน้าหลัก</a></th>
            <th><a href="{% url 'foods' %}">เมนูทั้งหมด</a></th>
            <th><a href="{% url 'about' %}">เกี่ยวกับ</a></th>
            <th><a href="{% url 'food' %}">โปรโมชั่น</a></th>
        </thead>
    </table>
    </div>
    
</header>